.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
     background-color: #3a424e; 
    /*background-color: #a68f71;*/
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #a68f71;
}

.button-margin {
    margin-left: 16px;
}

.input_width {
    width: 460px;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}

.homePage{
    margin-top: -1px;
}

.menuColor{
    color: azure;
    font-size: large;
    font-weight: bold;
}

.footerMenuColor{
    color: #000;
}

.marginFooterMenu{
    margin-left: 200px;
    margin-top: 50px;
}

.marginCopyright{
    margin-left: 20px;
    color: white;
    font-size: large;
    font-weight: lighter;
    font-family: Verdana;
}

.marginThree{
    margin-top: 200px;
}

.marginBack{
    margin-top: -150px;
}

.marginAbout{
    margin-top: -150px;
    margin-right: 200px;
}

.reservationButton{
    margin-left: 600px;
    margin-top: 400px;
    width: 300px;
    height: 60px;
    font-style: italic;
    font-weight: bolder;
    font-size: large;
    background-color: burlywood;
    border-radius: 100px;
}

.reservationBack{
    background-color: #f1eee8;
}

.loginButton{
    background-color: burlywood;
    color: white;
}

.menuBackground{
    background-color: #f1eee8;
}

.LoginModal{
    background-color: #6c757d;
}

.ReservationForm{
    margin-left: 700px;
    margin-top: -130px;
   
}

.ReservationText{
    margin-left: 150px;
    margin-top: 100px;
   
}

.marginLastName{
    margin-left: 190px;
}

.marginFirstName{
    margin-left: -14px;
}

.marginDatePicker{
    margin-right: 100px;
}

.input{
    background-color: #fafafa;
}

.marginReservBack{
    padding-bottom: 20px;
    padding-top: 10px;
}

.ReserText{
    font-size: small;
}